In [1]:
%%HTML
<!-이 필기는 다음 강의를 참조하였습니다.-->
<iframe width="896" height="504" src="https://www.youtube.com/embed/PjhlUzp_cU0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리

In [2]:
import pandas as pd

# 1. Series
1차원 데이터 (정수, 실수, 문자열 등)

## Series 객체 생성
예) 1월부터 4월까지 평균 온도 데이터 가정(-20, -10, 10, 20)

In [3]:
temp = pd.Series([-20, -10, 10, 20])
# print(temp)
temp

0   -20
1   -10
2    10
3    20
dtype: int64

- 인덱스가 자동으로 생성되고, 총 4개의 데이터가 들어가 있음을 확인할 수 있다.

In [4]:
temp[0]    # 1월 온도

-20

In [5]:
temp[2]    # 3월 온도

10

## Series 객체 생성 (Index 지정)

In [6]:
temp = pd.Series([-20, -10, 10, 20], index = ['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [7]:
temp['Jan']    # 1index Jan (1월) 에 해당하는 데이터 출력

-20

In [8]:
temp['Apr']    # 1index Apr (4월) 에 해당하는 데이터 출력

20

In [9]:
# temp['Jun']    # 존재하지 않는 index 접근 시도 시 에러